@CHARSET "ISO-8859-1";

body {
	background-color: orangered;
}

.ryu-still,
.ryu-ready,
.ryu-throwing,
.ryu-cool,
.hadouken {
	background: no-repeat;
}

.main {
	background-color: whitesmoke;
	margin-top: 10px;
	paddingleft: 10px;
	min-width: 75rem;
	min-height: 31.25rem;
}

.ryu-still,
.ryu-ready,
.ryu-throwing,
.ryu-cool {
	width: 40rem;
	height: 31rem;
}

.ryu-ready,
.ryu-throwing,
.ryu-cool {
	display: none;
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.hadouken{
	background-image: url('../images/hadouken.gif');
	width: 10rem;
	height: 10rem;
	position: absolute;
	top: 13rem;
	left: 31rem;
	display: none;
}

.instructions{
	height: 30rem;
	width: 18rem;
	position: absolute;
	top: 6rem;
	left: 35rem;
	font-family: 'Architects Daughter', cursive;
	font-size: 1rem;
}
